/* 
    Document   : font
    Created on : 14.12.2011, 15:01:42
    Author     : skilevis
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@font-face {
  font-family: 'slavicfont';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Kliment_Std.ttf');
}
@font-face {
  font-family: 'slavicfont';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Kliment_Std.ttf');
}
@font-face {
  font-family: 'slavicfont';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/Kliment_Std.ttf');
}
@font-face {
  font-family: 'slavicfont';
  font-weight: bold;
  font-style: italic;
  src: url('fonts/Kliment_Std.ttf');
}


