body {
	padding-left:33px;
	padding-right:33px;
	padding-top:98px;
	margin:0px;
	background-image:url(../images/test3.png);
	font-size:14px;
}
.login input {
       font-family:'slavicfont',Georgia,serif;
	color:#663300;
	font-size:12px;
	padding:1px 1px 1px 1px;
	margin:5px 5px 5px 0px;
	vertical-align:middle;
	border:1px solid #D3D3D3;
	width:150px;
	background-color:#FFF;
       border-style:solid;
       border-width:1px; 
	border-color:#663300;
}
@font-face {
  font-family: 'slavicfont';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Method_Thin_51.ttf');
}
@font-face {
  font-family: 'slavicfont';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Method_Thin_51.ttf');
}
@font-face {
  font-family: 'slavicfont';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/Method_Thin_51.ttf');
}
@font-face {
  font-family: 'slavicfont';
  font-weight: bold;
  font-style: italic;
  src: url('fonts/Method_Thin_51.ttf');
}
.shadow {
-moz-box-shadow: 0 0 10px 1px #8B4513;
-webkit-box-shadow: 0 0 10px 1px #8B4513;
}
.shadow2 {
-moz-box-shadow: 0 0 0px 1px #999;
-webkit-box-shadow: 0 0 0px 1px #999;
}
.gradient{
  background: #fb9d23; /* Old browsers */
  background: -moz-linear-gradient(top, #fb9d23 1%, #ffc578 78%, #ffc578 87%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fb9d23), color-stop(78%,#ffc578), color-stop(87%,#ffc578)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fb9d23 1%,#ffc578 78%,#ffc578 87%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fb9d23 1%,#ffc578 78%,#ffc578 87%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fb9d23 1%,#ffc578 78%,#ffc578 87%); /* IE10+ */
  background: linear-gradient(top, #fb9d23 1%,#ffc578 78%,#ffc578 87%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9d23', endColorstr='#ffc578',GradientType=0 ); /* IE6-9 */
}
.gradient-opacity{
background: -moz-linear-gradient(left,  rgba(251,157,35,0) 0%, rgba(251,157,35,1) 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(251,157,35,0)), color-stop(99%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 50%); /* IE10+ */
background: linear-gradient(left,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fb9d23', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 */
}
.gradient-opacity2{
background: -moz-linear-gradient(right,  rgba(251,157,35,0) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(251,157,35,0)), color-stop(99%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(right,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(right,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(right,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
background: linear-gradient(right,  rgba(251,157,35,0) 0%,rgba(251,157,35,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9d23', endColorstr='#00fb9d23',GradientType=1 ); /* IE6-9 */
}
.gradient-btn{
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 1%, rgba(254,254,254,1) 65%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(1%,rgba(219,219,219,1)), color-stop(65%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* IE10+ */
background: linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.gradient-title{
background: rgb(255,197,120); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}